@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "Fredoka One", cursive;
  scroll-behavior: smooth;
  background: rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  display: flex;
  height: 60px;
  background: rgba(139, 92, 226, 1);
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: rgba(139, 92, 226, 1);
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 16px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: start;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;
  padding: 30px 0 0 60px;
  background: rgba(104, 143, 255, 1);
  gap: 30px;
  border-bottom: 2px solid rgba(34, 0, 59, 1);
  border-bottom-right-radius: 26px;
  border-bottom-left-radius: 26px;
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Fredoka One;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  letter-spacing: 0%;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: rgba(255, 255, 255, 1);
}
.navigation__link:hover,
.navigation__link:focus {
  font-size: 20px;
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 90px;
    padding: 10px 0px 10px 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    border: none;
    padding-block: 0;
    flex: 1;
    gap: 90px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-family: Fredoka One;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    letter-spacing: 0%;

    text-decoration: none;
  }

  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 800px;
  padding: 60px 20px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/home/Home.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title-img {
  width: 193px;
  height: 146px;
}
.home-title {
  font-family: Fredoka One;
  font-weight: 400;
  font-size: 22px;
  line-height: 26.62px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  padding: 13px 0 16px;
}

.home-text {
  font-family: Ubuntu;
  font-weight: 700;
  font-size: 16px;
  line-height: 18.38px;
  letter-spacing: 0%;
  text-align: center;

  padding: 0px 0 13px;
}
.home__google-button_image {
  width: 215px;
  height: 76px;
}
.home__google-button_link:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 800px;
    padding: 81px 40px 0px;
    background-image: url("/image/home/Home\ \(1\).png");
  }
  .home__container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 655px;
  }
  .home-title-img {
    width: 443px;
    height: 333px;
  }
  .home-title {
    font-family: Fredoka One;
    font-weight: 400;
    font-size: 32px;
    line-height: 38.72px;
    letter-spacing: 0%;
    text-align: center;
    padding: 13px 0 22px;
  }

  .home-text {
    font-family: Ubuntu;
    font-weight: 700;
    font-size: 18px;
    line-height: 20.68px;
    letter-spacing: 0%;
    text-align: center;
    padding: 0px 0 13px;
  }
}
.why {
  width: 375px;
  height: 490px;

  margin: auto;
  padding: 28px 0px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/why/Benefits.png");
}

.why-list {
  padding-top: 52px;
  padding-bottom: 40px;
}
.why-item {
  margin: 0 4px;
  width: 335px;
  height: 249px;
  border-radius: 22px;
  background: rgba(34, 0, 59, 1);
  border: 1px solid rgba(255, 255, 255, 1);
  padding: 18px;
  display: flex;
  gap: 18px;
  flex-direction: column;
  align-items: center;
}

.why-text {
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 18px;
  line-height: 20.68px;
  letter-spacing: 0%;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .why {
    width: 1440px;
    height: 400px;

    margin: auto;
    padding: 28px 80px 0;

    background-image: url("/image/why/Benefits\ \(1\).png");
  }

  .why-list {
    padding-top: 57px;
    padding-bottom: 32px;
  }
  .why-item {
    margin: 0 10px;
    width: 540px;
    height: 148px;
    padding: 18px 35;
    flex-direction: row;
  }

  .why-text {
    font-family: Ubuntu;
    font-weight: 500;
    font-size: 18px;
    line-height: 20.68px;
    letter-spacing: 0%;
    text-align: left;
  }
}
.about {
  padding: 28px 16px 0px;
  margin: auto;
  width: 375px;
  height: 890px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/about/About\ us.png");
}

.about-title {
  font-family: Fredoka One;
  font-weight: 400;
  font-size: 34px;
  line-height: 41.14px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}
.about-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 40px;
}
.about-text {
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.38px;
  letter-spacing: 0%;
  width: 335px;

  border-radius: 22px;
  padding: 18px;
  background: rgba(34, 0, 59, 1);
  border: 1px solid rgba(255, 255, 255, 1);
  box-shadow: 0px 2px 18px 0px rgba(255, 255, 255, 0.35);
}

@media screen and (min-width: 1200px) {
  .about {
    padding: 28px 34px 0px;
    margin: auto;
    width: 1440px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/image/about/About\ us\ \(1\).png");
  }

  .about-title {
    font-family: Fredoka One;
    font-weight: 400;
    font-size: 34px;
    line-height: 41.14px;
    letter-spacing: 0%;
    text-align: center;
  }
  .about-list {
    padding-top: 73px;
  }
  .about-text {
    width: 637px;
    padding: 22px 18px;
  }
}

.reviews {
  width: 375px;
  height: 862px;
  margin: auto;
  padding: 28px 0px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/image/reviews/User\ Reviews.png");
}

.reviews-list {
  width: auto;
  padding-top: 40px;
  padding-bottom: 10px;
}
.reviews-item {
  margin: 0 8px;
  width: 335px;
  padding-bottom: 22px;
}
.reviews-img {
  margin: 0 auto;
}
.reviews-texts {
  margin-top: 16px;
  box-shadow: 0px 4px 20px 0px rgba(255, 255, 255, 1);
  width: 335px;
  border-radius: 26px;
  padding-top: 16px;
  padding-right: 36px;
  padding-bottom: 16px;
  padding-left: 36px;
  background: rgba(34, 0, 59, 1);
  border: 1px solid rgba(255, 255, 255, 1);
  margin-bottom: 22px;
}
.reviews-text-bold {
  font-family: Fredoka One;
  font-weight: 400;
  font-size: 20px;
  line-height: 24.2px;
  letter-spacing: 0%;
  text-align: center;
}
.reviews-text {
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.38px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 2px;
}
.reviews-desk {
  display: none;
}
@media screen and (min-width: 1200px) {
  .reviews-phone {
    display: none;
  }
  .reviews {
    width: 1440px;
    height: 800px;

    padding: 28px 330px 0;

    background-image: url("/image/reviews/User\ Reviews\ \(1\).png");
  }
  .reviews-desk {
    display: flex;
    width: 780px;
    padding-top: 40px;
    padding-bottom: 30px;
  }
  .slick-prev:before {
    content: url("/image/why/_Group_ (5).png");
    margin-left: -95px;
  }
  .slick-next:before {
    content: url("/image/why/_Group_ (6).png");
    margin-right: -90px;
  }
  .reviews-item {
    margin: 0 20px;
    width: 740px;
    padding-bottom: 22px;
  }
  .reviews-img {
    margin: 0 auto;
  }
  .reviews-texts {
    margin-top: 16px;
    box-shadow: 0px 4px 20px 0px rgba(255, 255, 255, 1);
    width: 740px;
    border-radius: 26px;
    padding-top: 16px;
    padding-right: 36px;
    padding-bottom: 16px;
    padding-left: 36px;
    background: rgba(34, 0, 59, 1);
    border: 1px solid rgba(255, 255, 255, 1);
    margin-bottom: 22px;
  }
}

.gallery {
  width: 375px;
  height: 720px;
  margin: auto;
  padding: 28px 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/gallery/Gallery.png");
}

.gallery__list {
  width: auto;

  margin: auto;
}

.gallery__item {
  width: 395px;
  height: 541px;
  padding: 70px 60px;
  overflow: hidden;
  position: relative;
  margin-left: -100px;
}

.gallery__image {
  border-radius: 36px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  box-shadow: 0px 4px 66px 0px rgba(255, 255, 255, 1);
}

.gallery-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}

.gallery-button:hover {
  scale: 120%;
}
@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;
    height: 720px;
    background-image: url("/image/gallery/Gallery\ \(1\).png");
  }

  .gallery__list {
    width: auto;

    margin: auto;
  }
  .gallery__item {
    width: 360px;
    height: 560px;
    padding: 50px 20px;
    overflow: hidden;
    position: relative;
    margin-left: -36px;
  }

  .gallery__image {
    border-radius: 36px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    box-shadow: none;
  }
  .gallery__list .slick-center {
    border-radius: 36px;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    position: relative;
    z-index: 2;
  }
  .gallery__list .slick-center .gallery__image {
    border-radius: 36px;
    box-shadow: 0px 4px 22px 0px rgba(255, 255, 255, 1);
  }
}
.features {
  width: 375px;
  height: 942px;
  margin: auto;
  padding: 28px 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/features/Advantages.png");
}

.features-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.features-item {
  display: flex;
  gap: 16px;
  align-items: center;
}

.features-text-bold {
  font-family: Fredoka One;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}
.features-text {
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.38px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 8px;
}

@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;
    height: 800px;
    margin: auto;
    padding: 28px 124px;
    background-image: url("/image/features/Advantages\ \(1\).png");
  }

  .features-list {
    padding-top: 97px;
  }
  .features-item {
    gap: 16px;
  }

  .features-text-bold {
    font-family: Fredoka One;
    font-weight: 400;
    font-size: 22px;
    line-height: 26.62px;
    letter-spacing: 0%;
    text-align: left;
  }
  .features-text {
    font-family: Ubuntu;
    font-weight: 400;
    font-size: 18px;
    line-height: 20.68px;
    letter-spacing: 0%;
    text-align: left;
  }
}
.footer {
  background: rgba(34, 0, 59, 1);

  color: #ffffff;
  padding: 16px 19px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;
}
.footer-text {
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 16px;
  line-height: 18.38px;
  letter-spacing: 0%;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}

.footer-copyright {
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 10px;
  line-height: 11.49px;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 24px 0px;
  }
  .footer-container {
    gap: 12px;
  }

  .footer-text {
    font-family: Ubuntu;
    font-weight: 500;
    font-size: 18px;
    line-height: 20.68px;
    letter-spacing: 0%;
  }

  .footer-copyright {
    font-family: Ubuntu;
    font-weight: 500;
    font-size: 10px;
    line-height: 11.49px;
    letter-spacing: 0%;
  }
}
.policy-terms-container {
  padding: 140px 20px 40px;
  color: rgba(0, 0, 0, 1);
}
.policy-terms-title {
  font-family: Ubuntu;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0%;
}

.policy-terms-text {
  font-family: Ubuntu;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0%;

  padding-top: 20px;
}
.policy-terms-texts {
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0%;

  padding-top: 8px;
}
.policy-terms-text-one {
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0%;

  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0%;

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0%;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: #000;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 140px 86px 40px;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 335px;
  border-radius: 20px;
  padding: 20px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(139, 92, 226, 1);
  box-shadow: 0px 14px 42px 0px rgba(8, 15, 52, 0.06);

  text-align: center;
  z-index: 1000;

  display: none;
}

.cookie-popup-text-two {
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;

  color: rgba(87, 78, 68, 1);
}
.cookie-button-container {
  padding: 30px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.cookie-button {
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(213, 199, 255, 1);
  border-radius: 56px;
  padding-top: 18px;
  padding-right: 26px;
  padding-bottom: 18px;
  padding-left: 26px;
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0%;
  color: rgba(87, 78, 68, 1);
}
#accept-cookies {
  background: rgba(139, 92, 226, 1);
  box-shadow: 0px 3px 12px 0px rgba(74, 58, 255, 0.18);
  color: rgba(255, 255, 255, 1);
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-family: Ubuntu;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;

    width: 648px;
  }
  .cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1272px;

    padding: 52px 100px;
    display: none;
  }

  .cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
